.banner{
    margin-top:-10vh;
    height:80vh;
    margin-bottom: -80px;
    color: white;
	object-fit: contain;
}
.banner__contents {
	margin-left: 30px;
	padding-top: 300px; 
    height: 190px;
}

 
.banner__title {
	font-size: 3rem;
	font-weight: 800;
	padding-bottom: 0.3rem;
}
.banner__description {  
	width: 45rem;
	line-height: 1;
	padding: 1rem 0;
	font-size: 1rem;
	max-width: 360px;
	height: 80px;
}
.banner__button {
	cursor: pointer;
	color: #fff;
	outline: none;
	border: none;
    font-size: 1.2rem;
	font-weight: 700;
	border-radius: 0.2vw;
    padding: 1rem 3rem;
	margin-right: 2rem;
    
	background-color: rgba(51, 51, 51, 0.5);
    border: 2px solid transparent; /* Base border */
  border-radius: 4px; 
  background-color: transparent; /* Background color of the button */
  color: #fff; /* Text color */
  font-size: 16px; /* Adjust as needed */
  cursor: pointer;
  overflow: hidden;
  font-family: Arial, sans-serif; /* Adjust as needed */
  transition: background-color 0.3s; /* Smooth background color transition on hover */
}




.play{
    color: #000;
	background-color: #fff;
    margin-top: 16px;
}
.banner__button:hover {
	color: #000;
	background-color: #c6c6c6;
	transition: all0.2s;
}
.banner__fadeBottom {
	height: 60vh;
	background-image: linear-gradient(
		180deg,
		transparent,
		rgb(37, 37, 37, 0.91),
		#111
	);
}




/* Keyframe animation for color cycling.... this is imported from Teddy's discussion */
/* @keyframes colorCycle {

    0% { border-color: rgba(255, 0, 0, 1); }   
    25% { border-color: rgba(0, 255, 0, 1); }  
    50% { border-color: rgba(0, 0, 255, 1); }  
    75% { border-color: rgb(202, 202, 13); }
    90% { border-color: rgb(255, 255, 255); }
    100% { border-color: rgba(255, 0, 0, 1); }  */




.banner__button.info {
    cursor: pointer;
    color: #fff;
    border-radius: 4px;
    border: 2px solid rgba(255, 255, 255, 0.8); /* Initial border color */

    /* background-color: transparent; Transparent background */
    transition: background-color 0.2s ease;
    animation: colorCycle 4s linear infinite; 
}

.banner__button.info:hover {
    background-color: rgba(255, 255, 255, 0.1); 
}


